<!-- coreapp/templates/coreapp/registrar.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviexpress - Registrar</title>
    <link rel="stylesheet" href="{% static 'coreapp/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'coreapp/css/registrar.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-left">
            <a href="{% url 'home' %}" class="logo-link">
                <h1>SERVIEXPRESS</h1>
            </a>
            <div class="two-services">
                <a href="{% url 'servicios' %}" class="servicios">Servicios</a>
                <a href="{% url 'reservahora' %}" class="reservas">Reservar Hora</a>
            </div>
        </div>
        <div class="navbar-right">
            <a href="{% url 'login' %}">
                <button class="login-button">Iniciar Sesión</button>
            </a>
            <a href="{% url 'adminlogin' %}">
                <button class="admin-button">Admin Panel</button>
            </a>
        </div>
    </nav>

    <div class="services-container">
        <div class="title">
            <h2>Registrar</h2>
        </div>
        <div class="container2">
            <div class="formulario">
            <form action="{% url 'registrar' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group buttons">
                    <button type="submit" class="register-button">Registrar</button>
                    <button type="button" class="cancel-button">Cancelar</button>
                </div>
            </div>
            </form>
        </div>
    </div>

    <footer>
        <p>Contacta con nosotros: info@serviexpress.cl</p>
    </footer>
</body>
</html>
