




.btn-eliminar {
    background-color: #a83939;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;
    box-shadow: none;

}

.btn-eliminar:hover {
    background-color: #4b1515;
}


.container2 {
    display: flex;              
    justify-content: center;     
    align-items: center;        
    flex-direction: column;      
    flex-grow: 1;                
    background-color: #f9f9f9;   
    border-radius: 8px;          
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 30px;               
    min-width: 200px;            
    max-width: 60%;
}


.container2 form { 
    padding: 20px;
    width: 50%;
    border-radius: 8px;
}

.container2 h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.container2 label {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

.container2 input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


table {
    border-collapse: collapse; 
    width: 100%; 
    margin-top: 20px; 
}

table th, table td {
    border: 1px solid #ddd; 
    text-align: left; 
    padding: 10px; 
}

table th {
    background-color: #f2f2f2; 
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9; 
}

table tr:hover {
    background-color: #f1f1f1; 
}



