/* Contenedor principal de servicios */
.services-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #D9D9D9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
    padding-top: 1%;    
}
.container2{
    padding: 20px;
}
/* Título */
.services-container .title h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Inter', sans-serif;
}



/* Estilos para los campos de formulario */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 1.1em;
    color: #333;
    font-family: 'Inter', sans-serif;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
}

.forgot-password {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.forgot-password a {
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Botón de Iniciar sesión */
.login-button2 {
    width: 100%;
    padding: 10px;
    font-size: 1.3em;
    color: #fff;
    background-color: #62CBDD;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.login-button2:hover {
    background-color: #55A4B1;
}

/* Contenedor para el texto de "No tienes cuenta" */
.divider-container {
    margin-top: 15px;
    text-align: center;
    background-color: #b4b4b4;
    font-size: 1.1em;
    
}
.divider-container:hover{
    background-color: #777777;
}


.no-account {
    font-size: 1.1em;
    color: #ffffff;
}

.no-account a {
    color: #ffffff;
    text-decoration: none;
}

.no-account a:hover {
    text-decoration: underline;
}
