
.productos-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin-top: 15px;
}


.producto-item {
    display: flex;
    justify-content: space-between; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.producto-campo {
    display: flex;
    flex-direction: column; 
    align-items: center;
}


.campo-titulo {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    margin-right: 5px;
}

.producto-item img {
    max-width: 70px;
    max-height: 70px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

.producto-item span {
    font-size: 14px;
    color: #444;
}


.proveedores-lista > li {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}


.btn-eliminar {
    background-color: #a83939;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;
    box-shadow: none;

}

.btn-eliminar:hover {
    background-color: #4b1515;
}


.container2 {
    display: flex;              
    justify-content: center;     
    align-items: center;        
    flex-direction: column;      
    flex-grow: 1;                
    background-color: #f9f9f9;   
    border-radius: 8px;          
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 30px;               
    min-width: 200px;            
    max-width: 60%;
}


.container2 form {
    background-color: #fff;    
    padding: 20px;
    width: 50%;
    border-radius: 8px;
}

.container2 h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.container2 label {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

.container2 input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-submit{
    background-color: #6d87fd;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;
    box-shadow: none;
}

.btn-submit:hover{
    background-color: #4d5c9e;
}


.btn-pedido{
    background-color: #6d87fd;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;
    box-shadow: none;
}

.btn-pedido:hover{
    background-color: #4d5c9e;
}

.btn-two{

display: inline-block;

}