/* Contenedor principal de servicios */
.services-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título */
.services-container .title h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Inter', sans-serif;
}

/* Estilos para los campos de formulario */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 1.1em;
    color: #333;
    font-family: 'Inter', sans-serif;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Botones */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.agendar-button,
.cancelar-button {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.agendar-button {
    background-color: #8dc78f; /* Verde para Agendar */
}

.agendar-button:hover {
    background-color: #45a049;
}

.cancelar-button {
    background-color: #BDBEB7; /* Rojo para Cancelar */
}

.cancelar-button:hover {
    background-color: #BDBEB7;
}