/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #2D2A2A;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    padding: 2em;
    text-align: center;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D2A2A;
    color: white;
    padding: 1em 2em;
    font-family: 'Inter', sans-serif;
    flex-wrap: wrap; 
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 600;
    transition: text-shadow 0.3s ease;
    margin-right: 20px; 
}

.navbar-left h1:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.two-services {
    display: flex;
    gap: 55px; 
    margin-left: 85px; 
}

.two-services a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
}

.two-services a:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.navbar-right {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.login-button, .admin-button {
    background-color: transparent; 
    color: white; 
    border: 2px solid white;  
    padding: 8px 12px;
    margin: 5px 0; 
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.login-button:hover, .admin-button:hover {
    background-color: white; 
    color: black; 
}

.admin-button {
    font-size: 0.8em;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        text-align: center;
    }

    .navbar-left {
        margin-bottom: 15px; /* Espacio entre el logo y los botones */
    }

    .two-services {
        flex-direction: column; /* Alinea los enlaces de servicios verticalmente */
        gap: 10px; /* Reduce el espacio entre los enlaces */
        margin-left: 0; /* Elimina el margen izquierdo */
    }

    .navbar-right {
        margin-top: 15px; /* Espacio entre los botones y los enlaces */
    }

    .login-button, .admin-button {
        width: 100%; /* Hace que los botones ocupen todo el ancho disponible */
        font-size: 1.1em; /* Aumenta el tamaño de la fuente de los botones */
    }
}

@media (max-width: 480px) {
    .navbar-left h1 {
        font-size: 1.2em; 
    }

    .navbar-center a, .login-button, .admin-button {
        font-size: 0.9em;
    }

    .two-services a {
        font-size: 1.2em; /* Ajusta el tamaño de los enlaces en pantallas más pequeñas */
    }

    .login-button, .admin-button {
        font-size: 1em; /* Ajusta el tamaño de los botones */
    }
}






* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 5%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.carlogo {
    width: 35%;     /* Ajusta el tamaño de la imagen */
    height: auto;   /* Mantiene la proporción original de la imagen */
    display: block;
    margin-left: auto;
    margin-right: 3%;
}