{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Proveedores</title>
    <link rel="stylesheet" href="{% static 'coreapp/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'coreapp/css/adminpanel.css' %}">
    <link rel="stylesheet" href="{% static 'coreapp/css/popup.css' %}">
    <link rel="stylesheet" href="{% static 'coreapp/css/proveedores.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-left">
            <a href="{% url 'home' %}" class="logo-link">
                <h1>SERVIEXPRESS</h1>
            </a>
            <div class="two-services">
                <h2>Panel de Administración</h2>
            </div>
        </div>
        <div class="navbar-right">
            {% if user.is_authenticated %}
                <span>Bienvenido, {{ user.nombre_completo }}</span>
                <a href="{% url 'logout' %}">
                    <button class="login-button">Cerrar Sesión</button>
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <button class="login-button">Iniciar Sesión</button>
                </a>
                <a href="{% url 'adminlogin' %}">
                    <button class="admin-button">Admin Panel</button>
                </a>
            {% endif %}
        </div>
    </nav>

    <div class="main-container">
        <div class="services-container">
            <div class="name">
                <h2><span class="tittle">{{ user.username }}</span></h2>
            </div>  

            <div class="recuadros">
                <a href="{% url 'registro_empleado' %}">
                    <button class="btn-panel">Registrar empleado</button>
                </a>
            </div>

            <div class="recuadros">
                <a href="{% url 'registro_proveedor' %}">
                    <button class="btn-panel">Registrar Proveedor</button>
                </a>
            </div>

            <div class="recuadros">
                <a href="{% url 'registro_servicio' %}">
                    <button class="btn-panel">Registrar Servicio</button>
                </a>
            </div>

            <div class="recuadros">
                <a href="{% url 'verpedidos' %}">
                    <button class="btn-panel">Pedidos</button>
                </a>
            </div>

            <div class="recuadros">
                <a href="{% url 'informes' %}">
                    <button class="btn-panel">Informes</button>
                </a>
            </div>
        </div>

        <div class="container2">
            <h1>Registrar Proveedor</h1>
    <form method="post" enctype="multipart/form-data" class="container">
        {% csrf_token %}
        <h2>Datos del Proveedor</h2>
        {{ proveedor_form.as_p }}
        <h2>Datos del Producto</h2>
        {{ producto_form.as_p }}
        <button type="submit" class="btn-submit">Añadir Proveedor</button>
    </form>

    <h1>Lista de Proveedores</h1>
    <ul class="proveedores-lista">
        {% for proveedor in proveedores %}
            <li>
                <div class="campo">
                    <span class="campo-titulo">Empresa:</span> 
                    <strong>{{ proveedor.empresa }}</strong>
                </div>
                <div class="campo">
                    <span class="campo-titulo">Correo:</span> 
                    {{ proveedor.correo }}
                </div>
                <div class="campo">
                    <span class="campo-titulo">Rubro:</span> 
                    {{ proveedor.rubro }}
                </div>
        
                <h3>Productos:</h3>
                <div class="productos-contenedor">
                    {% for producto in proveedor.productos.all %}
                        <div class="producto-item">
                            <div class="campo">
                                <span class="campo-titulo">Imagen:</span>
                                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                            </div>
                            <div class="campo">
                                <span class="campo-titulo">Nombre:</span> 
                                {{ producto.nombre }}
                            </div>
                            <div class="campo">
                                <span class="campo-titulo">Cantidad:</span> 
                                {{ producto.cantidad }}
                            </div>
                            <div class="campo">
                                <span class="campo-titulo">Precio:</span> 
                                {{ producto.precio|floatformat:0 }}
                            </div>

                            <div class="btn-two">
                                <form method="POST" action="{% url 'eliminar_proveedor' proveedor.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn-eliminar">Eliminar Proveedor</button>
                                </form>
                                
                                <a href="{% url 'realizar_pedido' proveedor.id %}">
                                    <button class="btn-pedido">Realizar Pedido</button>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
    
            </li>
        {% endfor %}
    </ul>
    
            <br>
            <button class="cancelar-button" onclick="window.history.back()">Cancelar</button>
        </div>
    </div>


</body>
</html>





