{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviexpress - Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'coreapp/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'coreapp/css/adminpanel.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-left">
            <a href="{% url 'home' %}" class="logo-link">
                <h1>SERVIEXPRESS</h1>
            </a>
            <div class="two-services">
                <h2>Panel de Administración</h2>
            </div>
        </div>
        <div class="navbar-right">
            {% if user.is_authenticated %}
            <span>Bienvenido, {{ user.nombre_completo }}</span>
                <a href="{% url 'logout' %}">
                    <button class="login-button">Cerrar Sesión</button>
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <button class="login-button">Iniciar Sesión</button>
                </a>
                <a href="{% url 'adminlogin' %}">
                    <button class="admin-button">Admin Panel</button>
                </a>
            {% endif %}
        </div>
    </nav>
    
        <div class="services-container">

            <div class="name">
            <h2><span class="tittle">{{ user.username }}</span></h2>
            </div>  

            <div class="recuadros">
                <a href="{% url 'registro_empleado' %}">
                    <button class="btn-panel">Registrar empleado</button>
                </a>
            </div>

            <div class="recuadros">
                <a href="{% url 'registro_proveedor' %}">
                    <button class="btn-panel">Registrar Proveedor</button>
                </a>
            </div>

            <div class="recuadros">
                <a href="{% url 'registro_servicio' %}">
                    <button class="btn-panel">Registrar Servicio</button>
                </a>
            </div>

            <div class="recuadros">
                <h1>Pedidos</h1>
            </div>

            <div class="recuadros">
                <H1>Informes</H1>
            </div>


        </div>
        <script src="{% static 'coreapp/js/script.js' %}"></script>
    </body>
    </html>