{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviexpress</title>
    <link rel="stylesheet" href="{% static 'coreapp/css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap">

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-left">
          <a href="{% url 'home' %}" class="logo-link">
              <h1>SERVIEXPRESS</h1>
          </a>
          <div class="two-services">
              <a href="{% url 'servicios' %}" class="servicios">Servicios</a>
              <a href="{% url 'reservahora' %}" class="reservas">Reservar Hora</a>
          </div>
      </div>
      <div class="navbar-right">
          {% if user.is_authenticated %}
          <span>Bienvenido, {{ user.nombre_completo }}</span>
              <a href="{% url 'logout' %}">
                  <button class="login-button">Cerrar Sesión</button>
              </a>
          {% else %}
              <a href="{% url 'login' %}">
                  <button class="login-button">Iniciar Sesión</button>
              </a>
              <a href="{% url 'adminlogin' %}">
                  <button class="admin-button">Admin Panel</button>
              </a>
          {% endif %}
      </div>
  </nav>

    
    <div class="slideshow-container">


    <div class="mySlides fade">
      <img src="{% static 'coreapp/img/slider1.webp' %}" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <img src="{% static 'coreapp/img/slider2.webp' %}" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <img src="{% static 'coreapp/img/slider3.webp' %}" style="width:100%">
    </div>
    
  </div>
  <br>


    <img src="{% static 'coreapp/img/car.png' %}" class="carlogo">
    <footer>
        <p>Contacta con nosotros: info@serviexpress.cl</p>
    </footer>

    <script src="{% static 'coreapp/js/script.js' %}""></script>

</body>
</html>